 header{
      background: url(./img/studio.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh;
    }
    .parallax-container {
      height:200px

    }
   
    
    .section{
      padding-top: 4vw;
      padding-bottom: 4vw;
    }
    .tabs .indicator{
      background-color:blue;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
      background: transparent;
    }

   @media only screen and (min-width: 600px) {

.parallax-container {
      height:400px;
    }
    header {
      height:100vh
    }
   
   }
  